@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

*{
    margin:0;
    padding:0;
}

/*navbar styling*/

.navbar-brand{
    font-family: 'Leckerli One', cursive;


}
.nav-item{
    font-family: 'Leckerli One', cursive; 
 
}
.carousel-inner img {
    width:100%;
    height:100%;
    
  }

/*slide h1 styling*/

.slide1

{
    color:white;
    font-size:150px;
    font-family: 'Leckerli One', cursive;

    
}


/* carousel images styling*/



.hometext{
    font-family: 'Leckerli One', cursive;
}

 

   /*footer styling*/

   footer {
    background-color:#3f3f3f;
    color:#d5d5d5;
    margin-top: auto;
   }
   hr.light {
       border-top: 1px solid #d5d5d5;
       width: 75%;
       margin-left: auto;
       margin-right: auto;
       
   }

   /*columns css for service page */

   #servicecolumn
   {
       
       text-align: center;
       margin-top: auto;
       padding:50px;
       font-family: 'Leckerli One', cursive;
          
 
   }
   /*css for fish gallery page columnns*/
   #fishcolumn
   {
       
       text-align: center;
       margin-top: auto;
       padding:50px;
          
 
   }
   /*css for coral gallery page columns*/
   #coralcolumn
   {
       
       text-align: center;
       margin-top: auto;
       padding:50px;
          
 
   }

/*css for services page heading */
 
   #services{
 
   
       text-align: center;
       font-size: 80px;
    
       color:royalblue;
       font-family: 'Leckerli One', cursive ;
  
       padding:30px;
       
   }

   /*css for fish gallery page heading*/
   #fishes{
 
   
    text-align: center;
    font-size: 80px;
 
    color:royalblue;
    font-family: 'Leckerli One', cursive ;

    padding:30px;
    
}
/*css for coral gallery page heading*/
 
 #corals{
 
   
    text-align: center;
    font-size: 80px;
 
    color:royalblue;
    font-family: 'Leckerli One', cursive ;

    padding:30px;
    
}
   /*contact us page top and bottom text */

   .contacttext{
 
   
    text-align: center;
    font-size: 80px;
 
    color:royalblue;
    font-family: 'Leckerli One', cursive ;

    padding:30px;
    
}

/*background color for services and gallery page*/
   

  

  

  /*css addition for fish images with width and height*/
   
  .fishimg{
       width:288px;
       height:192px;
  }
   
  /*width and height adjustment for coral images*/

   .coralimg{
       width:288px;
       height:192px;
   }

   /*css for fish and coral image captions*/
   
   figcaption{
    font-weight: bold;
    
}

.contactform{
    width:80%;
  
    margin-top: 400px;
    margin-left: 50%;
    max-width:500px;
    background: #f1f1f1; 
    margin-bottom: -320px;
    transform:translate(-50%,-50%);
    padding:20px;
    box-sizing:border-box;
    border-radius:8px;
    text-align:center;
    box-shadow:0 0 20px #692323b3;


}


   /*Contact us form styling*/

.contactdetails{

    margin:8px 0;
    padding:12px 18px;
    border-radius:8px;


}
.contactdetails label{
    display:block;
    text-align:left;
    color:#333;
  
    font-size:15px;
    font-family: 'Leckerli One', cursive;
    

}
.contactdetails input,.contactdetails textarea{
    width:100%;
    border:1.5px solid gray;
     border-radius:8px;
      background:none;
    outline:none;
    font-size:17px;
    margin-top:6px;
    

   

}

#contactheading{
    font-family: 'Leckerli One', cursive;
}
/*using media queries for page responsiveness*/ 

@media only screen and (max-width: 600px) {
    .carousel-item {
    height: 10rem;
    }
    .slide1{
        font-size: 1.5rem;

    }
}

@media screen and (min-width:600px) {
    .carousel-item {
        height: 15rem;
        }
        .slide1{
            font-size: 2.5rem;
    
        }
}
@media screen and (min-width:768px) {
    .carousel-item {
        height: 20rem;
        }
        .slide1{
            font-size: 3.5rem;
    
        }
}
@media screen and (min-width:992px) {
    .carousel-item {
        height: 25rem;
        }
        .slide1{
            font-size: 4rem;
    
        }
}
@media screen and (min-width:1200px) {
    .carousel-item {
        height: 35rem;
        }

        .slide1{
            font-size: 4.5rem;
    
        }
}

 
   
 
 
 
  
   
  
 

 