*{
    margin:0;
    padding:0;
}

/*navbar styling*/

.menu-bar
{
    min-height:8%;
    background-color:rgb(85, 210, 255);
}

/*Logo image width styling*/

.menu-bar img {
    width:250px;  
  
}



/*navigation menu items color*/

.nav-link
{
color:white;
}

/*Color hovering over navigation items*/

.nav-link:hover
{
color:black;
}

/*navbar toggle styling*/

.navbar-toggler .fa
{
    color:white;
}

.navbar-toggler .fa
{
outline: none !important;
}

/*slide h1 styling*/

.slide1

{
    color:white;
    font-size:80px;
    font-family: cursive;
    margin-top:auto;
    margin-bottom: auto;
    padding:10%;
    
}

/*{
    color:white;
    font-size:50px;
    font-style: italic;
   
    font-family: cursive;
    
}*/

/*slide paragraph styling*/


/*{
    color:white;
    font-size:30px;
    font-style: italic;
    margin-top:auto;
    margin-bottom: auto;
    padding:10%;
    font-family: cursive;
    
}*/
/* carousel images styling*/

.carousel-inner img {
    width:100%;
    height:100%;
    padding:5%;
    background-color: #e1e6a6;
    
  }

  /*carousel indicators styling*/

  .carousel-indicators {
    margin: 7%;
    height: auto;
}

 

   /*footer styling*/

   footer {
    background-color:#3f3f3f;
    color:#d5d5d5;
    margin-top: auto;
   }
   hr.light {
       border-top: 1px solid #d5d5d5;
       width: 75%;
       margin-left: auto;
       margin-right: auto;
       
   }

   /*columns css for service page */

   #servicecolumn
   {
       
       text-align: center;
       margin-top: auto;
       padding:50px;
          
 
   }
   /*css for fish gallery page columnns*/
   #fishcolumn
   {
       
       text-align: center;
       margin-top: auto;
       padding:50px;
          
 
   }
   /*css for coral gallery page columns*/
   #coralcolumn
   {
       
       text-align: center;
       margin-top: auto;
       padding:50px;
          
 
   }

/*css for services page heading */
 
   #services{
 
   
       text-align: center;
       font-size: 80px;
       font-family:cursive;
       color:royalblue;
       font-style: italic;
       background-color: #e1e6a6;
       padding:30px;
       
   }

   /*css for fish gallery page heading*/
   #fishes{
 
   
    text-align: center;
    font-size: 80px;
    font-family:cursive;
    color:royalblue;
    font-style: italic;
    background-color: #e1e6a6;
    padding:30px;
    
}
/*css for coral gallery page heading*/
 
 #corals{
 
   
    text-align: center;
    font-size: 80px;
    font-family:cursive;
    color:royalblue;
    font-style: italic;
    background-color: #e1e6a6;
    padding:30px;
    
}
   /*contact us page top and bottom text */

   .contacttext{
 
   
    text-align: center;
    font-size: 80px;
    font-family:cursive;
    color:royalblue;
    font-style: italic;
    background-color: #e1e6a6;
    padding:30px;
    
}

/*background color for services and gallery page*/
   
.bgcolor{
    background-color: #e1e6a6;
   
}

  

  

  /*css addition for fish images with width and height*/
   
  .fishimg{
       width:288px;
       height:192px;
  }
   
  /*width and height adjustment for coral images*/

   .coralimg{
       width:288px;
       height:192px;
   }

   /*css for fish and coral image captions*/
   
   figcaption{
    font-weight: bold;
    
}

.contactform{
    width:80%;
  
    margin-top: 400px;
    margin-left: 50%;
    max-width:500px;
    background: #f1f1f1; 
    margin-bottom: -320px;
    transform:translate(-50%,-50%);
    padding:20px;
    box-sizing:border-box;
    border-radius:8px;
    text-align:center;
    box-shadow:0 0 20px #692323b3;


}


   /*Contact us form styling*/

.contactdetails{

    margin:8px 0;
    padding:12px 18px;
    border-radius:8px;


}
.contactdetails label{
    display:block;
    text-align:left;
    color:#333;
  
    font-size:15px;
    font-family: 'Leckerli One', cursive;
    

}
.contactdetails input,.contactdetails textarea{
    width:100%;
    border:1.5px solid gray;
     border-radius:8px;
      background:none;
    outline:none;
    font-size:17px;
    margin-top:6px;
    

   

}

#contactheading{
    font-family: 'Leckerli One', cursive;
}
 
   
 
 
 
  
   
  
 

 